body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('assets/background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 18px;
  font-family: Arial;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;  
}

.navbar-default .navbar-brand{
  color: #eee;
}

.dancer{
  position: absolute;
}

.dot {
  border:10px solid red;
  border-radius:10px;
}

.hamster{
  transform: rotate(50deg);
}

.jigglypuff, .pizza-cat, .hamster{
  width: 100px;
}

.bigger {
  transform: scale(1.5);
}

.pizza-cat {
  transform: rotate(40deg);
}

.oscillate {
/*  transform: rotateY(130deg);*/
  transform: rotate(-20deg);
}



.slide {
  transform: translate(100px);
}